<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | HelloWater</title>
  </head>
  <body>    
    <h1>About</h1>
      <p>
        This is the first social network without any actual 
        social signs of it. This is just a testing WebApp. Nothing to
        see here.. Really..
    </p>
  </body>
</html>