<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  If you have any questions, feel free to write to me
  this is my Email: pechtim@gmail.com. If you want a faster respond,
  just try to contact me via vk.com:
  <a href="https://vk.com/aliaspechtim">contact page</a>.
</p>