<%= form_for(@category) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <%= f.label :name, "Category name" %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>