<%= form_for [:category, @product] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  
  <%= f.label :name, "Product name" %>
  <%= f.text_field :name, class: 'form-control' %>
  
  <%= f.label :size, "Product size" %>
  <%= f.text_field :size, class: 'form-control' %>

  <%= f.label :description, "Description" %>
  <%= f.text_area :description, class: 'form-control', rows:20 %>


  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>