<li>
  <%= link_to category.name, category %>
  <% if current_user.admin? %>
    | <%= link_to "delete", category, method: :delete, class: "btn btn-sm btn-danger",
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>