<% provide(:title, 'All categories') %>
<h1>All categories</h1>

<%= will_paginate %>

<ul class="categories">
  <%= render @categories %>
</ul>

<%= will_paginate %>

<% if current_user.admin? %>
  <%= link_to "Create new category", new_category_url , class: "btn btn-primary" %>
<% end %>