<% provide(:title, 'New Category') %>
<% provide(:button_text, 'Create new category') %>

<h1>Category create</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <%= render 'shared/category_form' %>
  
  </div>
</div>