<% provide(:title, current_category) %>
<h1>Hi</h1>

<%= will_paginate %>

<ul class="products">
  <%= render @products %>
</ul>

<%= will_paginate %>

<%= link_to "Create new product", new_category_product , class: "btn btn-primary" %>