<li id="product-<%= product.id %>">
  <span class="category"><%= link_to product.name, category_product_path(params[:category_id],product) %>
  <% if current_user.admin? %>
    | <%= link_to "delete", category_product_path(params[:category_id],product), method: :delete, class: "btn btn-sm btn-danger",
                                  data: { confirm: "You sure?" } %>
  <% end %>
  </span>
</li>