<% provide(:title, current_category.name) %>
<h1>
  <%= @current_category.name %>
</h1>

<div class="container">  
  <% if current_category.products.any? %>
      <h3>Products (<%= @current_category.products.count %>)</h3>
      <%= will_paginate %>
      
      <ul class="products">
        <%= render @products %>
      </ul>
      <%= will_paginate %>
  <% end %>
</div>

<% if current_user.admin? %>
  <%= link_to "Create new product", new_category_product_url , class: "btn btn-primary" %>
<% end %>