<% provide(:title, 'New Product') %>
<% provide(:button_text, 'Create new product') %>

<h1>Product create</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <%= render 'shared/product_form' %>
  
  </div>
</div>