<% provide(:title, @product.name) %>

<h1>
  <%= @product.name %>
</h1>
<div class = "container">
  <div class = "micropost">
    <h3><%= @product.size %></h3>
    <h3><%= @product.description %></h3>
  </div>
</div>