<footer class="footer">
  <small>
    The HelloWater WebApp by <a href="https://vk.com/aliaspechtim">Pechenev Timofey</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://twitter.com/">(Probably another clone)</a></li>
    </ul>
  </nav>
</footer>