<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "HelloWater", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><%= link_to "Home", root_path, id: "menubar" %></li> !-->
        <li><%= link_to "Help", help_path, id: "menubar" %></li>
        <% if logged_in? %>
          <li><%= link_to "Categories", categories_path, id: "menubar"%></li>
          <% if current_user.admin? %>
              <li><%= link_to "Users", users_path, id: "menubar"%></li>
          <% end %>
          <li class="dropdown">
            <a href="#" id = "menubar" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", root_path, id: "menubar" %></li>
              <li><%= link_to "Settings",  edit_user_path(current_user), id: "menubar" %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete", id: "menubar"%>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path, id: "menubar" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>